.font1{
    color: red;
    font-family: Montserrat;
}
.list{
    list-style: none;
    font-size: 25px;
}
    .list > li{
        display: inline-block;
        font-family: Montserrat;
        color: grey;
    }
        .Text{
            font-size: 40px;
        }
        h4{
            font-family: times New Roman;
            color: grey;
        }
            .para{
                font-family: times New Roman;
                color: grey;
            }
               .para2{
                    font-family: Montserrat;
                    color: blue;
            }
                .image{
                    float: right;
                    width: 150px;
                    margin-left: 20px;
                
                }
                .FREE{
                    color: rgb(63, 28, 63)
                }